name: Botway Docker CI

on:
  push:
    branches:
      - main

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build
        run: |
          docker build -t botwayorg/packages:latest --file packages.Dockerfile .
          docker push botwayorg/packages:latest

          docker build -t botwayorg/coder:latest --file coder.Dockerfile .
          docker push botwayorg/coder:latest
